body {
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* For project with a video intro */
.project-Videotitle {
  font-family: "Noto Sans", sans-serif;
  font-style: bold;
  font-size: 56px;
  padding-left: 30px;
  margin-top: 25px;
}

.previewVideoBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoVideoBox {
  margin-left: -510px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  z-index: 99;
}
/* For project with a video intro */

/* For project with a img intro */
.project-Pictitle {
  font-family: "Noto Sans", sans-serif;
  font-style: bold;
  font-size: 56px;
  padding-left: 30px;
  margin-top: 25px;
}

.previewPicBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoPicBox {
  margin-left: -1190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  z-index: 99;
}
/* For project with a img intro */

.Skill-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 23px;
  padding-left: 30px;
  padding-top: 10px;
}
