body {
  background-color: black;
  overflow-x: hidden;
}

/* Homepage css starts here */
/* Cover page - first thing user sees */
.cover-wrapper {
  width: 100vw;
  height: 100vh;
}

.cover-img {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.bg-wrapper img {
  width: 100%;
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  /* border-radius: 5px;
  background-size: cover; */
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 30vw;
  min-height: 50vw;
  width: 45vw;
  height: 45vw;
  max-width: 35vw;
  max-height: 100vw;
}
.card1 video {
  width: 225%;
}

.card2 {
  width: 10vw;
  height: 5vh;
}
.card2 img {
  width: 130%;
}
.card3 {
  opacity: 0.9;
  width: 25ch;
  height: 25ch;
}

.card4 {
  width: 25ch;
  height: 25ch;
}
.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ends css for cover-page */

/* For project with a intro */
/* You just needed to adjust the margin on the bottom of this element */
.preview-wrapper {
  padding-top: 12.125rem;
}
.project-title {
  font-family: "Noto Sans", sans-serif;
  font-style: bold;
  font-size: 2.188rem;
  padding-left: 1.875rem;
  margin-top: 1.563rem;
  margin-bottom: 0.625rem;
}

.previewBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}

.infoBox {
  margin-left: -3.125rem;
  width: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  z-index: 99;
  padding-right: 1.875rem;
}

.Skill-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25rem;
  padding-left: 1.875rem;
  padding-top: 0.313rem;
}
/* for homepage "recent work" css */
.work-text {
  display: flex;
  justify-content: flex-start;
  padding-left: 2%;
}
.work-title {
  font-family: "Nota Sans", sans-serif;
  font-weight: bold;
  color: #ffa45c;
  text-decoration: underline;
}

/* For skillSet section on homepage*/
.skill-intro {
  display: flex;
  justify-content: center;
}
.skillSet {
  font-family: "Nota Sans", sans-serif;
  font-size: 2.188rem;
  font-weight: lighter;
  color: #ffa45c;
}
.skillBox {
  display: flex;
  justify-content: center;
}
.toggleSkills {
  padding-bottom: 2.5rem;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0, 0);
    transform: translate(0, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.icon-box {
  margin-left: 2.5%;
  height: auto;
  color: white;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out 0s forwards;
}

.AdobeText {
  color: #ffa45c;
}
.figmaDiv {
  padding-top: 0.813rem;
  padding-left: 0.625rem;
}
.figmaText {
  padding-top: 0.625rem;
  color: #ffa45c;
}

.threeDprocessText {
  color: #19bc8b;
}
.unityDiv {
  padding-top: 0.313rem;
  padding-left: 1.875rem;
}
.unityText {
  padding-top: 0.625rem;
  padding-left: 1rem;
  color: #19bc8b;
}
.processDiv {
  padding-left: 2.5rem;
}

.learnText {
  color: #b593ff;
}
.ueDiv {
  padding-left: 1.875rem;
}
.ueText {
  padding-top: 0.313rem;
  color: #b593ff;
}
.c4dDiv {
  padding-left: 2.5rem;
}
.rctDiv {
  padding-left: 1.875rem;
}

.webText {
  color: #17acf1;
}
.netDiv {
  padding-left: 1.875rem;
}
.cssDiv {
  padding-left: 1.75rem;
}

/* For 4 skillset buttons div */
.profile-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.skill-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 20vw;
}
/* Skill-set on homepage ends here */

/* For contact section */
.contact-wrapper {
  width: 100%;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactTitle {
  width: 100vw;
  height: 3em;
  font-family: "Nota Sans", sans-serif;
  font-weight: bolder;
  font-size: 1.875rem;
  color: black;
  display: flex;
  justify-content: center;
}
.contactIcon {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  padding-bottom: 3.125rem;
}
.social-button {
  display: inline-block;
  background-color: #f1f1f1;
  width: 5.625rem;
  height: 5.625rem;
  line-height: 5.625rem;
  margin: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: 0.99;
  border-radius: 28%;
  box-shadow: 0 0.3125rem 1.875rem -0.5rem #00000090;
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:before {
  content: "";
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
  font-size: 2.375rem;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
/* Facbook */
.social-button.facebook:before {
  background-color: #3b5998;
}
.social-button.facebook .fa {
  color: #3b5998;
}
/* Linkedin */
.social-button.linkedin:before {
  background-color: #007bb5;
}
.social-button.linkedin .fa {
  color: #007bb5;
}
/* Instagram */
.social-button.instagram:before {
  background-color: #d62976;
}
.social-button.instagram .fa {
  color: #d62976;
}
/* email */
.social-button.email:before {
  background-color: #4caf72;
}
.social-button.email .fa {
  color: #4caf72;
}

.social-button.website .fa {
  color: #4e4e4e;
}
.social-button:focus:before,
.social-button:hover:before {
  top: -10%;
  left: -10%;
}
.social-button:focus .fa,
.social-button:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* ends for contact section */

/* thanks note css start here */
.thanks-box {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.extraClass {
  pointer-events: auto !important;
}
.extraClass:hover {
  visibility: visible !important;
  opacity: 1 !important;
}
.thanks-font {
  color: white;
  text-decoration: none;
}
.openedBox:hover {
  cursor: pointer;
}
.closedBox:hover {
  cursor: pointer;
}
.closeBox-animate {
  animation-iteration-count: infinite;
}
/* ends homepage css */

/* For individual project page */

.projectName {
  font-family: "Nota Sans", sans-serif;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  color: white;
}
.projectPage {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projectPage-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.875rem;
}

.projectPage-content-container {
  max-width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* for icons around title */
/* wrapper wraps all containter in COLUMN */
.iconTags-wrapper {
  display: flex;
  flex-direction: column;
}

/* each container can have 2-3 tags in ROW */
.iconTags-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* each tag contains ONE icon + One Name/Role in ROW */
.iconTag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 1.125rem;
}
.miniTitle-icon {
  padding-top: 0.875rem;
}
.miniTitle-icon-UX {
  padding-top: 0.688rem;
}
.miniTitle-icon-uxresearch {
  padding-top: 0.875rem;
  padding-right: 0.188rem;
}
.miniTitle-icon-Queen {
  padding-top: 0.688rem;
  padding-right: 0.188rem;
}
.miniTitle-icon-floorplan {
  padding-top: 0.625rem;
}
.miniTitle-icon-GameDesign {
  padding-top: 1rem;
  padding-right: 0.188rem;
}
.miniTitle-icon-Modeller {
  padding-top: 0.938rem;
  padding-right: 0.188rem;
}
.miniTitle-icon-VR {
  padding-top: 1.063rem;
  padding-right: 0.188rem;
}
.miniTitle-icon-UI {
  padding-top: 0.75rem;
  padding-right: 0.188rem;
}
.mini-content-box {
  width: 100%;
}
/* ends for icons around title */

.titleBox {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.miniTitle {
  font-family: "Nota Sans", sans-serif;
  font-size: 1.813rem;
  color: #ffa45c;
  padding-top: 0.625rem;
}

.roleName {
  font-family: "Nota Sans", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  margin-top: 0.625rem;
}

.ProjectTitle {
  font-family: "Nota Sans", sans-serif;
  font-size: 1.75rem;
  color: #ffa45c;
}
.contentTitle {
  font-family: "Nota Sans", sans-serif;
  font-size: 1.875rem;
  color: #ffa45c;
  text-transform: uppercase;
}
.contentBox {
  padding-bottom: 1.875rem;
}
.mainContent {
  font-family: "Nota Sans", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  padding-bottom: 0.625rem;
}
.project-container-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.project-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
}

/* for presenting img responsively */
.pic-box-default {
  padding-top: 1.813rem;
  padding-bottom: 1.813rem;
}
.pic-box-default img {
  width: 100%;
}
.pic-box-mid {
  padding-top: 1.813rem;
  padding-bottom: 1.813rem;
  display: flex;
  justify-content: center;
}
.pic-box-mid img {
  width: 65%;
  padding-left: 18%;
}
.pic-box-small {
  padding-top: 1.813rem;
  padding-bottom: 1.813rem;
}
.pic-box-small img {
  width: 70%;
}
.video-box {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.video-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* individual project page ends here */

/* Footer css starts here */
.footer-wrapper-white {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.credit-line {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}
.footer-line {
  display: inline-block;
  justify-content: center;
  width: 55%;
  top: 0;
  left: 0;
}
.credit-text-white {
  justify-content: flex-start;
}
.credit-text-dark {
  color: white;
  justify-content: flex-start;
}
.credit-box {
  width: 49vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 6%;
}
.lastBox {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}
/* ends footer section css */

/* For nav bar */
.mainNav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 3.125rem;
  padding-top: 0.625rem;
  z-index: 99999;
}
.navBar {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
.navLogo a {
  padding: 0 1.5rem;
}
.spacer {
  flex: 1;
}
.navName ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navName li {
  padding: 0 0.5rem;
}
.navName a {
  color: #838383;
  font-weight: 1.813rem;
}
.buttons {
  display: flex;
  justify-content: space-around;
  top: 1.813rem;
  left: 0.125rem;
}
.navName button {
  width: 9.375rem;
  height: 3.125rem;
  background-color: transparent;
  margin: 1.813rem;
  position: relative;
  overflow: hidden;
  font-size: 0.875rem;
  letter-spacing: 0.063rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
}
.navName button:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  background-color: #ffa45c;
  transition: all 0.3s 0.2s ease;
  left: 0;
  top: 0;
}
.navName button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #ffa45c;
  transition: all 0.3s ease;
  right: 0;
  bottom: 0;
}
.navName button p {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.navName button p:before {
  content: "";
  position: absolute;
  width: 0.125rem;
  height: 0;
  background-color: #ffa45c;
  transition: all 0.3s 0.4s ease;
  right: 0;
  top: 0;
}
.navName button p:after {
  content: "";
  position: absolute;
  width: 0.125rem;
  height: 0;
  background-color: #ffa45c;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
}
.navName button:hover {
  color: #ffa45c;
  letter-spacing: 0.125rem;
}
.navName button:hover:before,
.navName button:hover:after {
  width: 100%;
}
.navName button:hover p {
  z-index: 1;
}
.navName button:hover p:before,
.navName button:hover p:after {
  height: 100%;
}
.navName button:hover span {
  height: 100%;
  top: 0;
}
.navName button:active {
  outline: none;
  border: none;
}
.navName button:focus {
  outline: 0;
}
.mainlogo-wrapper {
  width: 2.188rem;
  height: 2.188rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ends navbar css */

/* for lumos project page */
/* lumosmodel css  */
.lumosmodel {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.svg-content {
  display: inline-block;
  justify-content: center;
  width: 55%;
  top: 0;
  left: 0;
}
.trigger:hover {
  cursor: pointer;
}
.triggerSoftware:hover {
  cursor: pointer;
}
.triggerHardware:hover {
  cursor: pointer;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#Left {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 15s linear forwards alternate infinite;
}
#LeftF-1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 15.5s linear forwards alternate infinite;
}
#Middle {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 16s linear forwards alternate infinite;
}
#RightF-1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 16.5s linear forwards alternate infinite;
}
#Right {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 17s linear forwards alternate infinite;
}
#RightB-1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 17.5s linear forwards alternate infinite;
}
#RightB-2 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 18s linear forwards alternate infinite;
}
#LeftB-1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 19s linear forwards alternate infinite;
}
#LeftB-2 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 19.5s linear forwards alternate infinite;
}
#clickme {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* ends lumos page css */

/* waterbug page css */
.project-container-wrapper-white {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: white;
}
.waterbug-final-text {
  font-family: "Nota Sans", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: black;
  padding-bottom: 0.625rem;
}
.app-prototype {
  display: flex;
  flex-direction: column;
}
.prototype-box {
  display: flex;
  justify-content: center;
}
/* ends waterbug css */

/* day of the dead css */
.gamelink-wrapper {
  display: flex;
  justify-content: center;
}

/* main button styles start here*/
.ButtonMain {
  border: none;
  width: 12.5rem;
  height: 3.75rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin: 0.938rem 1.875rem;
  letter-spacing: 0.063rem;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 0.188rem solid #ffa45c;
  color: #ffa45c;
}

.ButtonMain:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.ButtonMain:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffa45c;
}

.ButtonMain:hover,
.ButtonMain:active {
  color: #ffffff;
}

.ButtonMain:hover:after,
.ButtonMain:active:after {
  width: 100%;
}
/* main button styles ends here */

/* For skillset toggle button */
.offset-first {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset-first:hover,
.offset-first:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset-first {
  --color: #ffa45c;
  --hover: #ffa45c;
}
.offset-first {
  color: var(--color);
  transition: 0.25s;
}
.offset-first:hover,
.offset-first:focus {
  border-color: var(--hover);
  color: #fff;
}
.offset-first {
  width: 18.75rem;
  height: 3rem;
  background: none;
  border: 0.125rem solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.offset-second {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset-second:hover,
.offset-second:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset-second {
  --color: #19bc8b;
  --hover: #19bc8b;
}
.offset-second {
  color: var(--color);
  transition: 0.25s;
}
.offset-second:hover,
.offset-second:focus {
  border-color: var(--hover);
  color: #fff;
}
.offset-second {
  width: 18.75rem;
  height: 3rem;
  background: none;
  border: 0.125rem solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.offset-third {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset-third:hover,
.offset-third:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset-third {
  --color: #b593ff;
  --hover: #b593ff;
}
.offset-third {
  color: var(--color);
  transition: 0.25s;
}
.offset-third:hover,
.offset-third:focus {
  border-color: var(--hover);
  color: #fff;
}
.offset-third {
  width: 18.75rem;
  height: 3rem;
  background: none;
  border: 0.125rem solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.offset-last {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset-last:hover,
.offset-last:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset-last {
  --color: #17acf1;
  --hover: #17acf1;
}
.offset-last {
  color: var(--color);
  transition: 0.25s;
}
.offset-last:hover,
.offset-last:focus {
  border-color: var(--hover);
  color: #fff;
}
.offset-last {
  width: 18.75rem;
  height: 3rem;
  background: none;
  border: 0.125rem solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
/* ends toogle button css  */

/* for tooltip css */
.tooltip-font {
  font-size: 0.938rem;
}

/* Loading */
.loading-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 23%;
}

.mobile-message {
  display: none;
}
/* ends for all normal styles */

/* For different screen sizes starts here */
@media only screen and (min-width: 100px) and (max-width: 1199px) {
  .mobile-message {
    display: block;
    justify-content: center;
    padding-left: 5%;
  }
  .App {
    display: none;
  }
  .loading-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  /* for project page role & team */
  /* .roleName{
    font-size: 1rem;
  } */
  /* for nav bar  */
  /* #videoContent{
    width:70%;
  }
  .MediaBox img{
    width:70%;
  }
  .infoBox{
    width:18.75rem;
  } */
}

@media only screen and (min-width: 1601px) and (max-width: 1909px) {
  /* for project page role & team */
  .roleName {
    font-size: 1rem;
  }
  /* for nav bar  */
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  /* for project page role & team */
  .roleName {
    font-size: 0.83rem;
  }

  /* for skill section icons */
  .offset-first {
    width: 15.625rem;
    height: 2.375rem;
    border: 0.019rem solid;
    font-size: 0.896rem;
  }
  .offset-second {
    width: 15.625rem;
    height: 2.375rem;
    border: 0.019rem solid;
    font-size: 0.896rem;
  }
  .offset-third {
    width: 15.625rem;
    height: 2.375rem;
    border: 0.019rem solid;
    font-size: 0.896rem;
  }
  .offset-last {
    width: 15.625rem;
    height: 2.375rem;
    border: 0.019rem solid;
    font-size: 0.896rem;
  }
  /* ends for icons styles */

  /* for nav bar  */
  .navName button {
    width: 7.5rem;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1909px) {
  /* for project page role & team */
  .roleName {
    font-size: 1rem;
  }
  /* for nav bar  */
}

@media only screen and (min-width: 1921px) and (max-width: 2600px) {
  /* for project page role & team */
  .roleName {
    font-size: 1.2rem;
  }
  .bg-wrapper {
    width: 120%;
  }
}
