body {
  background-color: #000000;
  overflow-x: hidden;
}

/* Cover page - first thing user sees */
.cover-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 6.125rem;
}
.cover-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* For project with a  intro */
/* You just needed to adjust the margin on the bottom of this element */
.preview-wrapper {
  padding-top: 12.125rem;
}
.project-title {
  font-family: "Noto Sans", sans-serif;
  font-style: bold;
  font-size: 35px;
  padding-left: 30px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.previewBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}

.infoBox {
  margin-left: -3.125rem;
  width: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  z-index: 99;
  padding-right: 1.875rem;
}

.Skill-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 5px;
}

/* For individual project page */
.projectName {
  font-family: "Nota Sans", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.projectPage {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projectPage-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectPage-content-container {
  max-width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleBox {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.miniTitle {
  font-family: "Nota Sans", sans-serif;
  font-size: 16px;
  color: white;
  padding-top: 10px;
}

.roleName {
  font-family: "Nota Sans", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  margin-top: 10px;
}

.contentTitle {
  font-family: "Nota Sans", sans-serif;
  font-size: 16px;
  color: white;
}
.mainContent {
  font-family: "Nota Sans", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: white;
}
.skillSet {
  font-family: "Nota Sans", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: white;
}
.skillBox {
  display: flex;
  justify-content: center;
}

.card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

/* For skillSet section */
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0, 0);
    transform: translate(0, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.icon-box {
  margin-left: 6.25rem;
  height: auto;
  color: white;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out 0s forwards;
}

.AdobeText {
  color: #ffa45c;
}
.figmaDiv {
  padding-top: 0.813rem;
  padding-left: 0.625rem;
}
.figmaText {
  padding-top: 0.625rem;
  color: #ffa45c;
}

.threeDprocessText {
  color: #19bc8b;
}
.unityDiv {
  padding-top: 0.313rem;
  padding-left: 1.875rem;
}
.unityText {
  padding-top: 0.625rem;
  padding-left: 1rem;
  color: #19bc8b;
}
.processDiv {
  padding-left: 2.5rem;
}

.learnText {
  color: #b593ff;
}
.ueDiv {
  padding-left: 1.875rem;
}
.ueText {
  padding-top: 0.313rem;
  color: #b593ff;
}
.c4dDiv {
  padding-left: 2.5rem;
}
.rctDiv {
  padding-left: 1.875rem;
}

.webText {
  color: #17acf1;
}
.netDiv {
  padding-left: 1.875rem;
}
.cssDiv {
  padding-left: 1.75rem;
}
/* For 4 skillset buttons div */
.profile-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.skill-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 20vw;
}

/* For footer section */
.footer {
  width: 100vw;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactTitle {
  width: 100vw;
  height: 3em;
  font-family: "Nota Sans", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
}
.contactIcon {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
}
.credit-line {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}
.credit-text {
  justify-content: flex-start;
}
.credit-box {
  width: 49vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 5rem;
}
.lastBox {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}
.social-button {
  display: inline-block;
  background-color: #f1f1f1;
  width: 5.625rem;
  height: 5.625rem;
  line-height: 5.625rem;
  margin: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: 0.99;
  border-radius: 28%;
  box-shadow: 0 0.3125rem 1.875rem -0.5rem #00000090;
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:before {
  content: "";
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
  font-size: 38px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
/* Facbook */
.social-button.facebook:before {
  background-color: #3b5998;
}
.social-button.facebook .fa {
  color: #3b5998;
}
/* Linkedin */
.social-button.linkedin:before {
  background-color: #007bb5;
}
.social-button.linkedin .fa {
  color: #007bb5;
}
/* Instagram */
.social-button.instagram:before {
  background-color: #d62976;
}
.social-button.instagram .fa {
  color: #d62976;
}
/* email */
.social-button.email:before {
  background-color: #4caf72;
}
.social-button.email .fa {
  color: #4caf72;
}

/* Mitch's portflio */
/* .social-button.website {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}
.social-button.website:before {
  background-color: #4e4e4e;
} */
.social-button.website .fa {
  color: #4e4e4e;
}
.social-button:focus:before,
.social-button:hover:before {
  top: -10%;
  left: -10%;
}
.social-button:focus .fa,
.social-button:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* For nav bar */
.mainNav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 3.125rem;
  padding-top: 0.625rem;
  z-index: 99999;
}
.navBar {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
.navLogo a {
  color: white;
  font-weight: 30px;
  padding: 0 1.5rem;
}
.spacer {
  flex: 1;
}
.navName ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navName li {
  padding: 0 0.5rem;
}
.navName a {
  color: #838383;
  font-weight: 20px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 2px;
}
.navName button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  margin: 20px;
  color: #51fff1;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
}
.navName button:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffa45c;
  transition: all 0.3s 0.2s ease;
  left: 0;
  top: 0;
}
.navName button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffa45c;
  transition: all 0.3s ease;
  right: 0;
  bottom: 0;
}
.navName button p {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.navName button p:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffa45c;
  transition: all 0.3s 0.4s ease;
  right: 0;
  top: 0;
}
.navName button p:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #ffa45c;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
}
.navName button:hover {
  color: #ffa45c;
  letter-spacing: 2px;
}
.navName button:hover:before,
.navName button:hover:after {
  width: 100%;
}
.navName button:hover p {
  z-index: 1;
}
.navName button:hover p:before,
.navName button:hover p:after {
  height: 100%;
}
.navName button:hover span {
  height: 100%;
  top: 0;
}
.navName button:active {
  outline: none;
  border: none;
}
.navName button:focus {
  outline: 0;
}

/* for lumos project page */
.lumos-container-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.lumos-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
/* lumosmodel css  */
.lumosmodel {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#Left {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 15s linear forwards alternate infinite;
}
#LeftF-1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 15.5s linear forwards alternate infinite;
}
#Middle {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 16s linear forwards alternate infinite;
}
#RightF-1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 16.5s linear forwards alternate infinite;
}
#Right {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 17s linear forwards alternate infinite;
}
#RightB-1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 17.5s linear forwards alternate infinite;
}
#RightB-2 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 18s linear forwards alternate infinite;
}
#LeftB-1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 19s linear forwards alternate infinite;
}
#LeftB-2 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash 19.5s linear forwards alternate infinite;
}

/* d19 page css */
.D19logo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
}

/* waterbug page css */
.WaterbugPage {
  background-color: black;
}
.WaterbugIntro {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
}

/* third button testing */
.ButtonMain {
  border: none;
  width: 200px;
  height: 60px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin: 15px 30px;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #89d6fb;
  color: #02a9f7;
}

.ButtonMain:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.ButtonMain:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #02577a;
}

.ButtonMain:hover,
.ButtonMain:active {
  color: #79ceb8;
}

.ButtonMain:hover:after,
.ButtonMain:active:after {
  width: 100%;
}

/* For skillset button */
.offset-first {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset-first:hover,
.offset-first:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset-first {
  --color: #ffa45c;
  --hover: #ffa45c;
}
.offset-first {
  color: var(--color);
  transition: 0.25s;
}
.offset-first:hover,
.offset-first:focus {
  border-color: var(--hover);
  color: #fff;
}
.offset-first {
  width: 18.75rem;
  height: 3rem;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.offset-second {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset-second:hover,
.offset-second:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset-second {
  --color: #19bc8b;
  --hover: #19bc8b;
}
.offset-second {
  color: var(--color);
  transition: 0.25s;
}
.offset-second:hover,
.offset-second:focus {
  border-color: var(--hover);
  color: #fff;
}
.offset-second {
  width: 18.75rem;
  height: 3rem;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.offset-third {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset-third:hover,
.offset-third:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset-third {
  --color: #b593ff;
  --hover: #b593ff;
}
.offset-third {
  color: var(--color);
  transition: 0.25s;
}
.offset-third:hover,
.offset-third:focus {
  border-color: var(--hover);
  color: #fff;
}
.offset-third {
  width: 18.75rem;
  height: 3rem;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.offset-last {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset-last:hover,
.offset-last:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset-last {
  --color: #17acf1;
  --hover: #17acf1;
}
.offset-last {
  color: var(--color);
  transition: 0.25s;
}
.offset-last:hover,
.offset-last:focus {
  border-color: var(--hover);
  color: #fff;
}
.offset-last {
  width: 18.75rem;
  height: 3rem;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
